<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
  <title>posts</title>
</head>
<body>
  <div id='app'>
    <h1><%= title %></h1>
    <p v-for="item in postList">{{ item }}</p>
  </div>
</body>
<script>
  var vm = new Vue({
    el: '#app',
    data: {
      postList: []
    },
    methods: {
      fetchData () {
        axios.get('/posts/list')
          .then(function(response) {
            vm.postList = response.data.postList
          })
      }
    }
  });
  vm.fetchData();
</script>
</html>